.sidebar-container {
  height: 100vh;
  background: #010b27;
  padding-top: 5rem;
  padding-left: 3rem;
}

.sidebar-menu li {
  color: white;
  letter-spacing: 1px;
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
width: fit-content;
}

.sidebar-menu li:hover {
  color: #010b27;
  background: white;
}
